!!! XML
!!! Strict

%html
  %head
    %title LogBook
    %link{:rel=>"stylesheet", :href=>"http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}
  %body
    .container
      %h1 LogBook
      %p Hello, World
      %form{:action=>"/add", :method=>"POST"}
        %input{:type=>"textfield", :name=>"uri"}
        %input{:type=>"submit"}
      .row
        - @messages.each do |item|
          .span12
            %a{:title => item.uri, :href => item.uri} #{item.uri}
